<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    {% for listing in listings %}
    <div id="listing">
      <ul>
        <li>{{listing['station_name']}}</li>
        <li>&pound{{listing['price']}}</li>
        <li>Last updated: {{listing['last_published_date']}}</li>
        <li><a href="{{listing['details_url']}}">Details</a>
      </ul>
      <div id="photos">
      {% for filename in listing['photo_filenames'] %}
        <img src="photos/{{filename}}">
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </body>
</html>
