<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    {% for listing in listings %}
    <div id="listing">
      <div class="value-displays" style="background-color:rgb{{listing['price_color'][0]}};color:rgb{{listing['price_color'][1]}}">
        Price<br>&pound{{listing['monthly_price']}}pcm
      </div>
      <div class="value-displays" style="background-color:rgb{{listing['euston_color'][0]}};color:rgb{{listing['euston_color'][1]}}">
        Euston<br>{{listing['commutes']['Euston']}} mins
      </div>
      <div class="value-displays" style="background-color:rgb{{listing['green_park_color'][0]}};color:rgb{{listing['green_park_color'][1]}}">
        Green Park<br>{{listing['commutes']['Green Park']}} mins
      </div>
      <ul id="details">
        <li><em>{{listing['hashname']}}</em> near {{listing['printable_station_names']}}</li>
        <li>{{listing['printable_availabilities']}}</li>
        <li>Last updated: {{listing['last_published_date']}}</li>
        <li><a href="{{listing['details_url']}}">Details</a>
      </ul>
      <div id="photos">
      {% for filename in listing['photo_filenames'] %}
        <img src="photos/{{filename}}">
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </body>
</html>
