<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div class="top-pane listing">
      <div id="summary">
        <ul>
          <li>Last scrape was at {{summary['last_scrape_time']}}.</li>
          <li>{{summary['number_of_listings']}} listings have been found, of which {{summary['number_unexpired']}} are still available and {{summary['number_of_interest']}} are of interest.</li>
          <li>Listing {{summary['search_options']['beds']}}-bed properties below &pound{{summary['search_options']['max_price']}}pcm. Each is within {{summary['search_options']['radius']}} miles of a station.</li>
        </ul>
      </div>
      <img id=map src="map.png">
    </div>
    {% for listing in listings %}
    <div class="listing {% if listing['expired'] %}expired{% endif %} {% if listing['ignored'] %}ignored{% endif %}">
      <div class="value-displays" style="background-color:rgb{{listing['price_color'][0]}};color:rgb{{listing['price_color'][1]}}">
        Price<br>&pound{{listing['monthly_price']}}pcm
      </div>
      <div class="value-display-sep">
      </div>
      <div class="value-displays" style="background-color:rgb{{listing['a_color'][0]}};color:rgb{{listing['a_color'][1]}}">
        Aldgate<br>{{listing['commutes']['Aldgate']}} mins
      </div>
      <div class="value-displays" style="background-color:rgb{{listing['ae_color'][0]}};color:rgb{{listing['ae_color'][1]}}">
        Aldgate East<br>{{listing['commutes']['Aldgate East']}} mins
      </div>
      <ul id="details">
        <li><em>{{listing['hashname']}}</em> near {{listing['printable_station_names']}}</li>
        <li>{{listing['printable_availabilities']}}</li>
        <li>Last updated: {{listing['last_published_date']}}</li>
        <li>{{listing['agent_name']}}, <a href="{{listing['details_url']}}">details</a>
        {% if listing['ignored'] %}<li>Ignored because "{{listing['ignored']}}"</li>{% endif %}
      </ul>
      <div id="photos">
      {% for filename in listing['photo_filenames'] %}
        <img src="photos/{{filename}}">
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </body>
</html>
